img {
    height: 200px;
    width: 200px;
}

.playlist_album_cover img {
    height: 25px;
    width: 25px;
}

.navigation_menu {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6d6a6a;
    overflow-x: hidden;
    padding-top: 20px;
}

.navigation_menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.navigation_menu a:hover {
    color: #f1f1f1;
}

#content {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .navigation_menu {padding-top: 15px;}
    .navigation_menu a {font-size: 18px;}
  }

.display_playlist_button {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.display_playlist_button:hover, .display_playlist_button:focus {
    background-color: #2980B9;
}

.playlist_selector {
    position: relative;
    display: inline-block;
}

.playlists_list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.playlists_list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.playlists_list a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
