{% extends "base.html" %}
{% import "tables.html" as tables %}
{% import "data_cells.html" as cells %}

{% block title %}{{ content.title }}{% endblock %}

{% block header %}
  <h1>{{ content.title }}</h1>
{% endblock %}

{% block content %}
  <img src="/static/img/{{ content.cover }}">

  <div class="album_info">
    {{ cells.artists(content.album_artists) }}<br>
    {{ content.song_count }} TRACKS ({{ content.length }})<br>
    {{ content.release_date[:4] }}
  </div>

  {{ tables.album_songs(songs=content.songs, playlists=playlists) }}
{% endblock %}
