{% extends "base.html" %}
{% import "tables.html" as tables %}

{% block title %}Hubs{% endblock %}

{% block header %}
  <h1>Hubs</h1>
{% endblock %}

{% block content %}
  <table class="all_hubs">
    {% for row in content|batch(5) %}
      <tr>
        {% for hub in row %}
          <td class="hub">
            <a href="/hubs/{{ hub.id }}">
              <img src="/static/img/{{ hub.photo }}"><br>
              {{ hub.name }}
            </a>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
