{% extends "base.html" %}

{% block title %}{{ key.title() }}{% endblock %}

{% block header %}
  <h1>{{ key.title() }}</h1>
{% endblock %}

{% block content %}
  <table class="all_{{ key }}">
    {% for row in content|batch(5) %}
      <tr>
        {% for artist in row %}
          <td class="{{ key }}">
            <a href="/{{ key }}/{{ artist.id }}">
              <img src="/static/img/{{ artist.photo }}"><br>
              {{ artist.name }}
            </a>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
