{% extends "base.html" %}
{% import "tables.html" as tables %}

{% block title %}{{ content.name }}{% endblock %}

{% block header %}
  <h1>{{ content.name }}</h1>
{% endblock %}

{% block content %}
  <img src="/static/img/{{ content.photo }}">

  {% if content.songs %}
    <h2>Songs</h2>
    {{ tables.songs(songs=content.songs) }}
  {% endif %}

  {% if content.albums %}
    <h2>Albums</h2>
    {{ tables.albums(albums=content.albums[:4]) }}
  {% endif %}

  {% if content.singles %}
    <h2>Singles / Remixes</h2>
    {{ tables.albums(albums=content.singles[:4]) }}
  {% endif %}

  {% if content.produced_songs %}
    <h2>Production Credits</h2>
    {{ tables.produced_songs(songs=content.produced_songs) }}
  {% endif %}
{% endblock %}
