{% extends "base.html" %}
{% import "tables.html" as tables %}

{% block title %}{{ content.name }}{% endblock %}

{% block header %}
  <h1>{{ content.name }}</h1>
{% endblock %}

{% block content %}
  <img src="/static/img/{{ content.photo }}">

  {% if content.songs %}
    <h2>Songs</h2>
    {% if content.songs|length > 10 %}
      <a href="/{{ key }}/{{ content.id }}/songs/">View All</a>
    {% endif %}
    {{ tables.songs(songs=content.songs[:10], playlists=playlists) }}
  {% endif %}

  {% if content.albums %}
    <h2>Albums</h2>
    {% if content.albums|length > 4 %}
      <a href="/{{ key }}/{{ content.id }}/albums/">View All</a>
    {% endif %}
    {{ tables.albums(albums=content.albums[:4]) }}
  {% endif %}

  {% if content.singles %}
    <h2>Singles / Remixes</h2>
    {% if content.singles|length > 4 %}
      <a href="/{{ key }}/{{ content.id }}/singles/">View All</a>
    {% endif %}
    {{ tables.albums(albums=content.singles[:4]) }}
  {% endif %}

  {% if content.produced_songs %}
    <h2>Production Credits</h2>
    {% if content.produced_songs|length > 10 %}
      <a href="/{{ key }}/{{ content.id }}/produced/">View All</a>
    {% endif %}
    {{ tables.produced_songs(songs=content.produced_songs[:10], playlists=playlists) }}
  {% endif %}
{% endblock %}
