<p>
    Welcome to Avalon!
</p>
<p>
    If you click on Artists in the navigation menu to the left, you will be
    able to view all artists in the program.
</p>
<p>
    If you click on Albums, you will be able to view all albums in the program.
</p>
<p>
    If you would like to create a personal playlist, just type in the title of
    the playlist you would like to create in the field to the left and click on
    Create. That's all it takes! You can quickly and easily add songs to your
    playlists either from the Songs table in an artist's page or when you are on
     an album's page.
</p>
<p>
    You can view all songs in each playlist you create by clicking on the
    playlist name. If you want to delete a song from your playlists, this is
    where you will do it. If you want to delete a playlist, it will also be done
     here.
</p>
<p>
    Finally, the back and forward buttons mimic your browser's navigation
    buttons so you can easily go back and forward through the program.
</p>
