<section>
    {{ songs }}
</section>
<section id="delete_playlist_button">
    <form id="delete_playlist" name="delete_playlist" action="delete"
    method="GET">
    </form>
    <button class="delete_button" type="submit" form="delete_playlist"
    value="Submit">Delete Playlist</button>
</section>