{% if results[0] %}
    <section>
        <h2>Artists</h2>
        {{ results[0] }}
    </section>
{% endif %}
{% if results[1] %}
    <section>
        <h2>Albums</h2>
        {{ results[1] }}
    </section>
{% endif %}
{% if results[2] %}
    <section>
        <h2>Songs</h2>
        {{ results[2] }}
    </section>
{% endif %}