<div class="row">
    <section class="column">
        <img src="/static/img/{{ artist_info[1] }}" alt="{{ artist_info[0] }}"
        id="artist_profile">
    </section>
    <section class="column">
        <h2>{{ artist_info[0] }}</h2>
        {% if artist_info[2] %}
            {{ artist_info[2] }}
        {% endif %}
    </section>
<div>
{% if discography[0] %}
    <section id="artist_songs">
        <h3>Songs</h3>
        <div id="artist_songs_table">
            {{ discography[0] }}
        </div>
    </section>
{% endif %}
{% if discography[1] %}
    <section class="artist_discography">
        <h3>Albums</h3>
        {{ discography[1] }}
    </section>
{% endif %}
{% if discography[2] %}
    <section class="artist_discography">
        <h3>Singles</h3>
        {{ discography[2] }}
    </section>
{% endif %}
{% if discography[3] %}
    <section class="artist_discography">
        <h3>Mixtapes</h3>
        {{ discography[3] }}
    </section>
{% endif %}
